.pagination {
  &__wrapper {
    @apply flex gap-3;
  }

  &__dot {
    @apply relative
    w-3
    h-3
    shrink-0
    rounded-2xl
    bg-copy/30
    backdrop-blur-sm
    pointer-events-auto
    cursor-pointer;
    corner-shape: squircle;

    &__timer {
      @apply absolute
      z-10
      top-0
      left-0
      w-full
      h-full
      rounded-2xl
      pointer-events-none
      bg-copy/90;
      corner-shape: squircle;
    }

    &__progress {
      @apply absolute
      inset-0
      cursor-pointer
      select-none
      touch-none;

      &__fill {
        @apply absolute
        top-0
        left-0
        w-full
        h-full
        min-w-3
        bg-copy/90
        rounded-2xl
        pointer-events-none;
        corner-shape: squircle;
        transform-origin: left;
        will-change: transform;
      }
    }
  }
}
