@import '@/components/waywardUI/Text/Text.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  :root {
    --background: 5 8 15;
    --copy: 245 247 248;
    --copy-secondary: 13 20 38;
    --primary: 60 115 142;
    --secondary: 88 116 68;
    --tertiary: 58 70 89;
    --accent: 61 238 245;
    --accent-secondary: 255 31 146;
    --accent-tertiary: 245 162 58;
    --success: 52 211 153;
    --error: 248 113 113;
    --warning: 251 191 36;
  }

  html {
    @apply h-svh;
  }

  body {
    @apply bg-background
    text-copy
    font-primary
    min-h-svh;
  }

  a {
    @apply !text-accent
    cursor-pointer;
  }

  .container {
    @apply !mx-auto
    w-full 
    px-4 md:px-8
    !max-w-[1440px] 3xl:!max-w-[1800px];
  }
}
