@import '@/components/waywardUI/Text/Text.css';
@import '@/components/waywardUI/Button/Button.css';
@import '@/components/waywardUI/Scrollbars/Scrollbars.css';
@import '@/components/Three/Project/Project.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  :root {
    --background: 5 8 15;
    --surface: 23 28 37;
    --border: 42 46 58;
    --copy: 245 247 248;
    --copySoft: 145 152 168;
    --copy-secondary: 24 28 38;
    --primary: 62 139 179;
    --secondary: 57 139 101;
    --tertiary: 132 140 150;
    /* --accent: 61 238 245; */
    --accent: 61 245 219;
    /* --accent-secondary: 255 31 146; */
    --accent-secondary: 230 60 144;
    --accent-tertiary: 245 162 58;
    --success: 52 211 153;
    --error: 222 46 80;
    --warning: 243 200 83;
  }

  html {
    @apply h-svh;
  }

  body {
    @apply bg-background
    text-copy
    font-primary
    min-h-svh;
  }

  a {
    @apply !text-accent
    cursor-pointer;
  }

  .container {
    @apply !mx-auto
    w-full 
    px-4 md:px-8
    !max-w-[1440px] 3xl:!max-w-[1800px];
  }
}
